<% include partials/header %>
<!-- first section - Home -->
<div id="home" class="home">
    <div class="text-vcenter">
  </div>
  </div>
  <!-- /first section -->
  <div id="about" class="pad-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Jordon_Buchanan</h2><hr>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 recentDiv profileBlock">
              <div class="subjectHead2"></div>
              <p class="bioP">Welcome to my humble blog. Here I blog my life in coding and various other aspirations.</p>
              <p class="text-center">
                <a href="https://www.instagram.com/jordonthedev/"><i class="fab fa-instagram myCon"></i></a>
                <a href="https://www.github.com/jordonbuchanan/"><i class="fab fa-github-square myCon"></i></a>
                <a href="https://www.linkedin.com/in/jordon-buchanan-b6b88a150/"><i class="fab fa-linkedin myCon"></i></a>
                <a href="mailto:jordonbuchanan@outlook.com?Subject=Inquiry" target="_top"><i class="fas fa-envelope-square myCon"></i></a>
              </p>
            </div>
            <div class="col-sm-12 recentDiv">
                <p class="lead">Older Posts</p>
                <ul>
                  <li><a href="#">July 2018</a></li>
                  <li><a href="#">June 2018</a></li>
                </ul>
            </div>
            <div class="col-sm-12 recentDiv">
                <p class="lead">Tags</p>
                <ul>
                  <li><a href="#">Frontend</a></li>
                  <li><a href="#">React</a></li>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">Javascript</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
          <% Posts.forEach(function(Posts){ %>
          <div class="col-sm-12 contentDiv">
            <div class="subjectHead"><i class="<%= Posts.icon %> postCon"></i></div>
            <h4><%= Posts.name %></h4>
            <small class="date"><%= moment(Posts.createdAt).fromNow() %></small>
            <p class="bodyText blogPrevText">
                <%= Posts.textField %>
            </p>
            <small>
                <a class="readMore" href="/<%= Posts._id %>">Read More...</a>
            </small></br>
            <small class="tags">Tags: <a href="#"><%= Posts.tags %></a></small>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>

  

<% include partials/footer %>